[submodule "skills/KernelWiki"]
	path = skills/KernelWiki
	url = git@github.com:zhenhuang12/KernelWiki.git
[submodule "skills/rocprof-report-skill"]
	path = skills/rocprof-report-skill
	url = https://github.com/zhenhuang12/rocprof-report-skill
