[submodule "skills/KernelWiki"]
	path = skills/KernelWiki
	url = git@github.com:DongyunZou/KernelWiki.git
[submodule "skills/ncu-report-skill"]
	path = skills/ncu-report-skill
	url = git@github.com:DongyunZou/ncu-report-skill.git
